<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Receiptly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notificationsystem">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Notification System
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notificationsystemclient">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Notification Client
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="receiptupload">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Receipt Upload
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="receipts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Receipts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ReceiptView">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ReceiptView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addreceipt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Receipt
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
