@page "/AddReceipt"
@inject IReceiptService ReceiptService
@inject NavigationManager Navigation
@inject AddReceiptLogic Logic

<h3>Hantera Kvitto</h3>
<!-- Choose a receipt  -->
<div class="form-group">
    <label for="select-receipt">Välj kvitto/Skapa kvitto</label>
    <select id="select-receipt" class="form-control" @onchange="LoadSelectedReceipt">
        <option value="">Nytt kvitto </option>
        @foreach (var receipt in ReceiptList)
        {
        <option value="@receipt.Id">@receipt.StoreName - @receipt.PurchaseDate.ToShortDateString()</option>
        }
    </select>
</div>
<ReceiptDetailsForm Receipt="Logic.newReceipt" />

<!-- Form to add new items -->
<div class="form-group" >
    <button class="btn btn-primary" @onclick="AddItem">Lägg till artikel</button>
</div>

<!-- Show and handle items -->
<table class="table">
    <thead>
    <tr>
        <th>Artikel</th>
        <th>Kvantitet</th>
        <th>Bäst före</th>
        <th>Ta bort</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Logic.newReceipt.Items)
    {
        <ReceiptItem Item="item" OnRemove="RemoveItem"/>
    }
    </tbody>
</table>

<!-- Save receipt-->
<button class="btn btn-success" @onclick="SaveReceipt">Spara kvitto</button>



@code {

    private List<Receipt> ReceiptList { get; set; } = new();

    protected override void OnInitialized()
    {
        // Get the Mockdata
        ReceiptList = ReceiptService.GetAllReceipts();

    }

    private void LoadSelectedReceipt(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var receiptId) && receiptId > 0)
        {
             Logic.LoadReceipt(receiptId);
        }
        else
        {
            Logic.newReceipt = new Receipt();
        }
    }
    private async Task SaveReceipt()
    {
        // Kontrollera att varje artikel har en giltig kvantitet
        if (Logic.newReceipt.Items.Any(item => item.Quantity < 1))
        {
            Console.WriteLine("Alla artiklar måste ha en kvantitet större än eller lika med 1.");
            return;
        }

        try
        {
            await Logic.SaveReceiptAsync();
            Console.WriteLine("Kvitto sparat!");
            Navigation.NavigateTo("/receipts");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ett fel inträffade: {ex.Message}");
        }
    }

    private void AddItem()
        {
            
            Logic.AddItem();
        }

        private void RemoveItem(Item item)
        {
           
            Logic.RemoveItem(item);
        }

}