@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject]
    public HttpClient HttpClient { get; set; } = new();
    [Inject]
    public IReceiptDalService DalService { get; set; }
    [Inject] 
    public IReceiptService ReceiptMockService { get; set; }
    protected override async Task OnInitializedAsync()
    {


    }
}
