@page "/"

<PageTitle>Receiptly Home</PageTitle>

<h1>Welcome to Receiptly!</h1>

<NotificationSystemClient/>

@code {
    [Inject]
    public HttpClient HttpClient { get; set; } = new();
    [Inject]
    public IReceiptDalService DalService { get; set; }
    [Inject] 
    public IReceiptService ReceiptMockService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await DalService.GetAllReceiptsAsync(HttpClient);
        if(result == null)
        {
            Console.WriteLine("Unable to seed Database");
        }
        else
        {
            Console.WriteLine("Database available");
        }
    }
}
