@page "/NotificationSystem"

@using System.Timers
@using Receiptly.Interface
@using Shared.Models
@using Receipt = Shared.Models.Receipt

@inject IExpiryCheckService ExpiryCheckService

<h3>Tracked Articles</h3>

<ul>
    @foreach (var item in GetAllItems())
    {
        <li>@item.Name (Expires on: @item.BestBeforeDate)</li>
    }
</ul>

@code {

    List<Shared.Models.Item> itemList = new List<Item>();
    
    List<Shared.Models.Item> GetAllItems()
    {

        foreach (var receipt in Shared.Models.MockData.receiptList)
        {
            foreach (var item in receipt.Items)
            {
                itemList.Add(item);
            }
        }

        return itemList;
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        var timer = new Timer(10000);
        timer.Elapsed += async (sender, e) => await ExpiryCheckService.CheckExpiryDateAsync(itemList);
        timer.Start();
    }

}