@page "/receipts"
@inject IReceiptService ReceiptService
@inject NavigationManager Navigation
<h3>Alla kvitton</h3>

@if (ReceiptList.Count == 0)
{
    <p>Laddar kvitton...</p>
}
else
{
    <ul>
        @foreach (var receipt in ReceiptList)
        {
            <li>
                <a @onclick="(() => OpenReceipt(receipt.Id))">
                    @receipt.StoreName - @receipt.PurchaseDate.ToShortDateString()
                </a>
            </li>
        }
    </ul>
}

@code {
    private List<Receipt> ReceiptList { get; set; } = new();

    protected override void OnInitialized()
    {
        // Get the Mockdata
        ReceiptList = ReceiptService.GetAllReceipts();

    }

    private void OpenReceipt(int id)
    {
        // Navigate to ReceiptDetails 
        Navigation.NavigateTo($"/receipt/{id}");
    }
}