@page "/ReceiptView"
@if(selectedReceipt == null)
{
    @if(receipts.Count <= 0)
    {
        <h3>Hämtar kvitton</h3>
    }
    else
    {
        <ListReceipts ReceiptList="receipts" OnOpenReceipt="OnReceiptSelected"/>
    }
}
else
{

}

@code {
    [Inject]
    IReceiptDalService ReceiptService { get; set; }
    [Inject]
    HttpClient httpClient { get; set; }
    List<Receipt> receipts { get; set; } = new();
    private Receipt? selectedReceipt { get; set; }

    private void OnReceiptSelected(int selectedReceiptId)
    {
        selectedReceipt = receipts.FirstOrDefault(r => r.Id == selectedReceiptId);
        StateHasChanged();
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     if(receipts is List<Receipt>)
    //     {
    //         var result = await httpClient.PostAsJsonAsync("dal/createorupdatereceipt", receipts);
    //         if (result.IsSuccessStatusCode)
    //         {
    //             Console.WriteLine("Hello World");
    //         }
    //         else
    //         {
    //             Console.WriteLine(result.Content.ToString());
    //         }
    //     }
    // }

   
}