@page "/receiptupload"
<h2>Receipt uploader</h2>

<h3>Choose a receipt below to list items on receipt</h3>
<FileUpload ComponentTitle="Välj ett kvitto" ButtonTitle="Ladda upp kvitto" OnFileUploaded="HandleUploadedReceipt"/>
@code {
    public async Task HandleUploadedReceipt(IBrowserFile receiptFile)
    {
        
    }
}
