@page "/connectiontest"
<h3>ConnectionTest</h3>
<button @onclick="HandleButtonClick">TestConnection</button>
<div class="h3">@testResult</div>
@code {
    [Inject]
    HttpClient Client { get; set; }
    private string testResult { get; set; } = "awaiting result";

    private async Task HandleButtonClick()
    {
        testResult = "...";
        var response = await Client.GetAsync("connectiontest/checkconnection");
        if (response.IsSuccessStatusCode)
        {
            testResult = "connection established succesfully";
        }
        else testResult = "connection to endpoint could not be established";
    }
}